<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <script src="static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <title>RiYueLake 在线检测系统</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>内容</th>
                <th>取值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>时间</td>
                <td><input type="text" id="devaddress" value="  " readonly="true" /></td>
            </tr>
            <tr>
                <td>光照</td>
                <td><input type="text" id="light" value="  " readonly="true" /></td>
            </tr>
            <tr>
                <td>温度</td>
                <td><input type="text" id="temperature" value="  " readonly="true" /></td>
            </tr>
            <tr>
                <td>湿度</td>
                <td><input type="text" id="humidity" value="  " readonly="true" /></td>
            </tr>
        </tbody>
    </table>
</body>

</html>